@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #343434ff;
  --secondary: #4c4c4c;
  --accent: #ffff00ff;
}

#root {
  background-color: var(--primary);
  min-height: 100vh;
}

